### Exercises
You will need to use imports to complete each exercise. These exercises will also strengthen your problem solving and python coding skills.

You will be directed to create specific files in part 1, for the rest you may do your work in either **import_exercises.py** or **import_exercises.ipynb**.

1.) Import and test 3 of the functions from your functions exercise file. Import each function in a different way:

a.) Run an interactive python session and import the module. Call the **is_vowel** function using the **.** syntax.

In [2]:
from function_exercises import is_vowel
is_vowel('e')

# Did this inside of the terminal and it works *

True

b.) Create a file named **import_exercises.py**. Within this file, use **from** to import the **calculate_tip** function directly. Call this function with values you choose and print the result.

In [3]:
from function_exercises import calculate_tip
calculate_tip(.25, 250)

# Did this in VS Code after linking the 'python-exercises' folder #

62.5

c.) Create a jupyter notebook named **import_exercises.ipynb**. Use **from** to import the **get_letter_grade** function and give it an alias. Test this function in your notebook.

In [4]:
from function_exercises import get_letter_grade as g_l_g

g_l_g(92)

'A'

##### Make sure your code that tests the function imports is run from the same directory that your functions exercise file is in.

2.) Read about and use the **itertools** module from the python standard library to help you solve the following problems. Note: Many of these functions in this library return an object, to see the results of the function, cast this object as a list.

In [5]:
import itertools
# how to wrap things in a function

# Don't have to import every time since it is done here.
# preference if I prefer "from ... import ..."

### Example from https://docs.python.org/3/library/itertools.html I like

In [6]:
# from itertools import accumulate
# import itertools

# def accumulate(iterable, func=operator.add, *, initial=None):
#     'Return running totals'
#     # accumulate([1,2,3,4,5]) --> 1 3 6 10 15
#     # accumulate([1,2,3,4,5], initial=100) --> 100 101 103 106 110 115
#     # accumulate([1,2,3,4,5], operator.mul) --> 1 2 6 24 120
#     it = iter(iterable)
#     total = initial
#     if initial is None:
#         try:
#             total = next(it)
#         except StopIteration:
#             return
#     yield total
#     for element in it:
#         total = func(total, element)
#         yield total

# data = [3, 4, 6, 2, 1, 9, 0, 7, 5, 8]
# list(accumulate(data, operator.mul))

# ### need to comeback and learn why mine won't run

* How many different ways can you combine a single letter from "abc" with either 1, 2, or 3?

In [7]:
# Instructors

list(itertools.product('abc',[1,2,3]))

# List IS REQUIRED because it'll return an 'object' otherwise
# and the reult will be like '<itertools.product at 0x104...etc>'

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [8]:
from itertools import product

letters = 'abc'
numbers = '123'

combinations = list(product(letters, numbers, repeat=1))
count = len(combinations)

for combination in combinations:
    print(f'combination: {combination}')
print(f'Count = {count}')

combination: ('a', '1')
combination: ('a', '2')
combination: ('a', '3')
combination: ('b', '1')
combination: ('b', '2')
combination: ('b', '3')
combination: ('c', '1')
combination: ('c', '2')
combination: ('c', '3')
Count = 9

* How many different combinations are there of 2 letters from "abcd"?

In [9]:
# Instructors

len(list(itertools.combinations('abcd',2)))

# Simpler

6

In [10]:
# In a combination, the elements of the subset can be listed in any order. 
# In a permutation, the elements of the subset are listed in a specific order.

from itertools import combinations

letters = 'abcd'
k = 2
combinations_2 = list(combinations(letters, k))
count = len(combinations_2)

for combination in combinations_2:
    print(f'Combination: {combination}')
    
print(f'Count = {count}')

Combination: ('a', 'b')
Combination: ('a', 'c')
Combination: ('a', 'd')
Combination: ('b', 'c')
Combination: ('b', 'd')
Combination: ('c', 'd')
Count = 6

* How many different permutations are there of 2 letters from "abcd"?

In [11]:
# Instructor

len(list(itertools.permutations('abcd',2)))

# Simpler as well

12

In [12]:
from itertools import permutations

permutations_2 = list(permutations('abcd', 2))
count = len(permutations_2)

print(permutations_2)
print(count)    # Simpler version than that above but formatting isn't as clean.

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'a'), ('b', 'c'), ('b', 'd'), ('c', 'a'), ('c', 'b'), ('c', 'd'), ('d', 'a'), ('d', 'b'), ('d', 'c')]
12

3.) Save **this file** as **profiles.json** inside of your exercises directory (right click -> save file as...).

Use the **load** function from the **json** module to open this file.

In [13]:
import json

# storing in variable for future use
profiles = json.load(open('profiles.json'))

Your code should produce a list of dictionaries. Using this data, write some code that calculates and outputs the following information:

In [14]:
profiles[0]
# each dictionary in this list is a single profile or user or person

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [15]:
# how to access a list
my_list = [1,2,3,4]

# subsetting only 1st to 3rd values non-inclusive
my_list[0:2]

[1, 2]

In [16]:
# how to access a dictionary
my_dict = {'a':0, 'b':23, 'c':4}

# indexing by the key
my_dict['b']

23

In [17]:
# access a list of dictionaries
lst_dict = [{'name':'Mark', 'age':29}, {'name':'Eliza Thornberry', 'age':34}]

# only returns first dictionary
# to access multiple need to use a control
# structure to iterate over the dictionaires 
lst_dict[0]

{'name': 'Mark', 'age': 29}

In [18]:
# now I can get separate dictionaries and access their elements individually
for dictionary in lst_dict:
    print(dictionary['name'], dictionary['age'])

Mark 29
Eliza Thornberry 34

In [19]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

* Total number of users

In [20]:
len(profiles)

19

In [21]:
import json # If already imported, no need to do it everytime

# Load data from the JSON file
with open('profiles.json', 'r') as file:
    profiles = json.load(file)

# Calculate the total number of users (it's calculating the number of dictionaries in the list)
total_users = len(profiles)

# Output the result
print(f'Total number of users: {total_users}')

Total number of users: 19

* Number of active users

In [22]:
# Assuming the 'data' variable still contains the loaded json data

# Initialize a counter for active users
active_users_count = 0

# Iterate through each dictionary in the 'profiles' list
for profile in profiles:
    
    #check if the 'status' key is set to True
    if profile['isActive'] == True:
        
          # Increment the counter for active users
            active_users_count += 1
            
# Print the total number of active users
print(f'Total number of active users: {active_users_count}')

Total number of active users: 9

* Number of inactive users

In [23]:
count = 0

for profile in profiles:
    if profile['isActive'] == False:
        count += 1
count
# 10 active users

10

* Grand total of balances for all users

In [24]:
profiles[0]['balance']

'$2,097.02'

In [25]:
# using string methods

#initial empty value to add what I want to keep
grand_total = 0

# looping over individual profiles
for profile in profiles:
    
    # Stripping out non alpha characters
    clean_balance = profile['balance'].replace('$', '').replace(',', '')
    clean_balance = float(clean_balance) # casting to float to keep decimal precision
    
    grand_total += clean_balance
    
grand_total

52667.02

In [26]:
# def handle_commas(fakenum):
#     """
#     This function will:
#     - check if input is a string
#         -removes any commas
#         -check if the stripped input is a digit
#             - if True, returns input as an integer
#             - False otherwise
#     - if not a string, returns false stmt
#     """
#     if type(fakenum) == str:
#         stripfakenum = fakenum.replace('$', '').replace(",", "")
#         if stripfakenum.isdigit():
#             return int(stripfakenum)
#         else:
#             return False
#     else:
#         return False

In [29]:
# using pre-defined functions
import importlib # make adjustments to functions without restarting kernel
import function_exercises as f

# just to make adjustments to my function without restarting kernel

importlib.reload(f)

grand_total = 0

for profile in profiles:
    # utilizing pre defined functions
    grand_total += handle_commas(profile['balance'])
    
grand_total

### I updated the .py file, but I still don't understand why it won't work... ###

0

* Average balance per user

In [31]:
round(grand_total / len(profiles),2)

2771.95

* User with the lowest balance

In [30]:
# create a list of all balances
balance_list = [float(x['balance'].strip('$').replace(',','')) for x in profiles]
balance_list

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [31]:
balance_list = []

for profile in profiles:
    clean_balance = profile['balance'].strip('$').replace(',', '') #Stripping out string characters
    clean_balance = float(clean_balance) # casting to float to keep decimal precision
    balance_list.append(clean_balance)
balance_list

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [32]:
min_balance = min(balance_list)
min_balance

1214.1

In [33]:
# using string methods to clean

# create for loop to iterate over profiles
for profile in profiles:
    clean_balance = float(profile['balance'].strip('$').replace(',', ''))
    
    # using condition to test if balance is == minimum balance
    if clean_balance == min_balance:
        print(profile['name'], clean_balance)

Avery Flynn 1214.1

In [36]:
# using pre defined functions to clean

for profile in profiles:
    if handle_commas(profile['balance']) == min_balance:
        print(profile['name'],profile['balance'])
        
# I'm sure my function names are the same so idk why nothing will print

* User with the highest balance

In [39]:
max_balance = max(balance_list)

# string methods to clean
for profile in profiles:
    clean_balance = profile['balance'].strip('$').replace(',','') #striping out string characters
    clean_balance = float(clean_balance) #converting to float  
    if clean_balance == max(balance_list): #changing from min to max balance list
        print(profile['name'], clean_balance)

Fay Hammond 3919.64

In [40]:
# pre-defined functions to clean
for profile in profiles:
    if handle_commas(profile['balance']) == max_balance:
        print(profile['name'],profile['balance'])

* Most common favorite fruit

In [41]:
profiles[0]['favoriteFruit']

'strawberry'

In [48]:
# empty list to add to
fruit_ls = []

for profile in profiles:
    fruit_ls.append(profile['favoriteFruit'])
fruit_ls

['strawberry',
 'apple',
 'apple',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'apple',
 'strawberry']

In [43]:
# turn list into set to only return unique values
set(fruit_ls)

{'apple', 'banana', 'strawberry'}

In [44]:
# more manual way to cfalculate most common favorite fruit
fruit_ls.count('apple')

6

In [45]:
fruit_ls.count('banana')

4

In [46]:
fruit_ls.count('strawberry')

9

In [49]:
# coming soon way using pandas library

import pandas as pd

# converting to series
fruit_ls = pd.Series(fruit_ls)

fruit_ls.value_counts()

strawberry    9
apple         6
banana        4
Name: count, dtype: int64

In [50]:
# dictionary way
fruit_dict = {}

for profile in profiles:
    
    fruit = profile['favoriteFruit']
    
    if fruit in fruit_dict:
        fruit_dict[fruit] += 1 # Increment the count if the fruit is already in the dictionary
    else:
        fruit_dict[fruit] = 1 # Initialize the count to 1 if it's a new fruit
            
fruit_dict

{'strawberry': 9, 'apple': 6, 'banana': 4}

* Least most common favorite fruit

In [51]:
min(fruit_ls)
# gives apple rather than banana because it's returning the min alphabetically

'apple'

In [52]:
# fruit_ls.count

In [55]:
# adjust the key argument in the min function
# key parameter is function to customize the sortin parameters
min(fruit_ls, key=fruit_ls.count)

TypeError: Series.count() takes 1 positional argument but 2 were given

* Total number of unread messages for all users

In [56]:
profiles[0]['greeting']

'Hello, Hebert Estes! You have 4 unread messages.'

In [57]:
profiles[0]['greeting'].split(' ')

['Hello,', 'Hebert', 'Estes!', 'You', 'have', '4', 'unread', 'messages.']

In [58]:
# empty var to add ints to
total_unread = 0

# looping over individual profiles
for profile in profiles:
    # storing split message greeting in a variable
    message = profile['greeting'].split()
    
    #loop over split message and look for digits to add to total_unread
    for word in message:
        
        # checking if word is a digit
        if word.isdigit():
            word = int(word) # casting to int for math calculations
            total_unread += word
        
total_unread

210

In [ ]:
# what if greeting message changes to you have received

### BONUS

Continue to use the list of dictionaries.

* Find out how many total unique tags there are for all users

* Display a user's name and all of their respective friends